body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: papayawhip;
  color: palevioletred;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 56px;
  margin-top: 100px;
  align-self: center;
}

.header-container {
  display: flex;
  justify-content: space-evenly;
  height: 400px;
  top: 0px;
  text-align: center;
  background-image: url('./assets/header-book.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: papayawhip;
  color: palevioletred;
}

.book-details {
  background-color: papayawhip;
  color: palevioletred;
  border: 2px solid palegoldenrod;
  width: 60%;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.book-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.info-text {
  margin: 20px;
}

