body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: papayawhip;
  color: palevioletred;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 56px;
  margin-top: 100px;
  align-self: center;
}

.info-part {
  margin: 50px;
  padding: 30px;
  align-self: left;
}

.main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: space-evenly;
  height: 400px;
  top: 0px;
  text-align: center;
  background-image: url('./assets/header-book.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: papayawhip;
  color: palevioletred;
  margin: 50px;
  padding: 30px;
}

.book-details {
  background-color: papayawhip;
  color: palevioletred;
  border: 2px solid palegoldenrod;
  width: 60%;
  margin: 15px;
  padding: 25px;
  font-size: 18px;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 700px;
}


.book-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: 10%;
}

.info-text {
  margin: 20px;
}

a:link,
a:visited {
  color: palevioletred;
  text-decoration: none;
}

a:link:active,
a:visited:active {
  text-decoration: none;
  color: palevioletred;
}

.main-wrapper {
  background-image: url('./assets/love-for-books.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: navy;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button-back {
  margin: 10px;
  padding: 10px;
}

.info-image {
  margin: 20px;
}

.cover-img {
  margin: 10px;
}

.book-info {
  font-size: 20px;
  margin: 10px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
}

.button {
  background:palevioletred;
  color: papayawhip;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  height: 60px
}

.footer-container {
  display: flex;
  flex-direction: row;
  height: 150px;
  padding: 20px;
}

@media (min-width: 767px) {

  .book-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .book-info {
    font-size: 24px;
    margin: 20px;
  }
  }
  
  @media (min-width: 1200px) {
  
    .book-card-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  
  
  }



